
.father {
	position: relative;
	margin: 0;
	padding: 0;
}

.flexit {
	display: inline-flex;
	flex-wrap: wrap;
}

.box {
	width: 90px;
	height: 40px;
	margin: 0;
	padding: 0;
	background-color: #007bff;
	border-color: #007bff;
	box-shadow: 2px 5px;
}

.box:hover {
	background-color: #007bc0;
}


.border {
  border: 1px solid black;
  text-align:  center;
}